/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2020, 12:16:59 AM
    Author     : RaulP
*/


.Estilo_Botones{
    -fx-background-color: #e6173d;
    -fx-background-radius: 15;
}

.Estilo_Fondo{
    -fx-background-color: #e8e1e2;   
}

.texto_blanco {
    -fx-text-fill: #ffffff;
}

.Estilo_textField{
    -fx-background-radius: 15;
}

