/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 12, 2020, 1:51:34 PM
    Author     : RaulP
*/

.Estilo_Botones{
    -fx-background-color: #e6173d;
    -fx-background-radius: 15;
}

.Estilo_Fondo{
    -fx-background-color: #e8e1e2;   
}

.Estilo_textField{
    -fx-background-radius: 15;
}

