/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 18, 2020, 12:20:03 AM
    Author     : RaulP
*/

.Estilo_Botones{
    -fx-background-color: #e6173d;
    -fx-background-radius: 0 15 15 0;
}
.Estilo_Botones:hover{
    -fx-background-color: #bf0d2e;
    -fx-background-radius: 0 15 15 0;
}

.Estilo_Fondo{
    -fx-background-color: #e8e1e2;   
}

.texto_blanco {
    -fx-text-fill: #ffffff;
}

.Estilo_Fondo_oscuro{
    -fx-background-color: #d6cbcd;   
}

.Estilo_Fondo_Claro{
    -fx-background-color: #f7f2f4;
}

.Estilo_Botones_1{
    -fx-background-color: #e6173d;
    -fx-background-radius: 15;
}

.Estilo_Botones_1:hover{
    -fx-background-color: #bf0d2e;
    -fx-background-radius: 15;
}